:root {
    --card-border: 10px;
}

.card {
    background-color: white;
    
    /* height: 60vh; */
    width: 250px;
    border-radius: var(--card-border);
    margin: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cardImg {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    border-radius: var(--card-border) var(--card-border) 0 0;
}

.cardContent {
    padding: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cardTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.cardBtn {
    background-color: rgb(250, 206, 76);
    color: black;
    padding: 4%;
    border-radius: 5px;
    
    /* position: absolute; */
    margin-bottom: 10%;
}